html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #829ab6;
    flex-shrink: 0;
    display: flex;
    /* margin: 15px;  */
    /* justify-content: center; */
    align-items: center;
    /* position: relative; */
    overflow: scroll;
    flex-direction: column;
}

.top-image {
    /* position: absolute; */
    /* top: 5%; */
    display: block;
    max-width: 80%;
    height : auto;
    object-fit: contain;
    margin-top: 5%;
    /* margin-bottom: 20px; */
}
.cell{
    width: 80%;
    height: auto;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
.cell-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
}
.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0;
}