html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
.white-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    background-color: #ffffff;
    z-index: -1;
}
.background {
    background-color: #829ab6;
    flex-shrink: 0;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    display: flex;
    /* margin: 15px;  */
    /* justify-content: center; */
    /* border: #ffffff 15px solid; */
    align-items: center;
    /* position: relative; */
    overflow: scroll;
    flex-direction: column;
    scroll-behavior: smooth;
}

.top-image {
    /* position: absolute; */
    /* top: 5%; */
    display: block;
    width: 80%;
    height : auto;
    object-fit: contain;
    margin-top: 5%;
    /* margin-bottom: 20px; */
}



.cell{
    width: 80%;
    height: auto;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
.cell-title{
    flex-shrink: 0;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-justify: center;
    margin-bottom: 5px;
    scroll-margin-top: 15vh;
}
.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0;
}

.cell-descripition{
    font-size: 15px;
    line-height: 1.2;
    height: 25px;

    margin: 0;
    margin-top: 12px;
    padding: 0;
    text-align: left;
    text-justify: center;
}
.cell-a{
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    height: 25px;

    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    text-justify: center;
}
.cell-image{
    width: 100%;
    height: auto;
    flex-shrink: 0;

    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.cell-play-button{
    width: 20px;
    height: 20px;
    /* padding: 5px; */
    border: #ffffff 5px solid;
    border-radius: 50%;
    background-color: #ffffff;

    flex-shrink: 0;
    /* margin-left: 10px; */
    margin-top: 10px;
    cursor: pointer;
    background-image: url(../../img/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info-divider-container{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}
.info-text{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-align: left;
    text-justify: center;
}

.info-divider{
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0;
}


.bottom-bar{
    position: absolute;
    bottom: 0;
    width: 200vw;
    height: 67.92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b4b2;
}
.bottom-bar-container{
    /* position: absolute;
    left: 25px; */
    width: calc(100vw - 50px);
    height: 41.92px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth; 
}
.bottom-bar-container::-webkit-scrollbar {
    display: none;
}
.bottom-bar-container p{
    flex-shrink: 0;
    /* min-width: 100px; */
    /* width: 100px; */
    width: auto;
    height: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px; 
    /* padding-left: 25px;
    padding-right: 25px; */
    /* font-size: ; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    text-justify: center;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bottom-bar-container p:hover{
    color: #000097;
}
.bottom-bar-container .active{
    border-top: 2px solid #00000000;
    border-bottom: 2px solid yellow ;
}
/*border-bottom: 2px solid yellow ;*/