html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #829ab6;
    flex-shrink: 0;
    display: flex;
    /* margin: 15px;  */
    /* justify-content: center; */
    align-items: center;
    /* position: relative; */
    overflow: scroll;
    flex-direction: column;
}

.top-image {
    /* position: absolute; */
    /* top: 5%; */
    display: block;
    width: 80%;
    height : auto;
    object-fit: contain;
    margin-top: 5%;
    /* margin-bottom: 20px; */
}
.cell{
    width: 80%;
    height: auto;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
.cell-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
}
.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0;
}

.cell-descripition{
    font-size: 15px;
    line-height: 1.2;
    height: 25px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    text-justify: center;
}
.cell-a{
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    height: 25px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    text-justify: center;

}

.info-divider-container{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}
.info-text{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-align: left;
    text-justify: center;
}

.info-divider{
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0;
}